<%= provide(:title, "about")%>
<h1>About</h1>
<p>The <a href="http://www.railstutorial.org">Ruby on Rails Tutorials</a> is <a href="http://www.railstutorial.org/book">book</a> and screencast series for teach <a href="http://rubyonrails.org">Ruby on Rail</a>.
this is a sample appication for the tutorails.</p>
