<%= provide(:title, "help")%>
<h1>Help</h1>
<p>get help on Ruby on Rails Tutorails at the<a href="http://www.railstutorial.org/#help">Rails Tutorial help section</a>.
To get help on this sample app, see the<a href="http://www.railstutorial.org/book"><em>Ruby on Rails Tutorial</em>book</a>.
</p>
