<% provide(:title,'Index') %>
<% @users.each do |user| %>
<div style="display: inline-block;">
<%= gravatar_for(user) %>
<%= user.name %>
<%= link_to"delete",user_path(user), method: "delete" %>
</div><br>
<% end %>