<footer class="footer">
	<small>The <a href="http://www.railstutorial.org">Ruby on Rails Tutorials</a> by 
	 <a href="http://www.michaelhartl.com">Michael Hartl</a></small>
  <nav>
    <ul>
			<li style="list-style: none;"><%= link_to "about",about_path %></li>
			<li style="list-style: none;"><%= link_to "contact",contact_path %></li>
			<li style="list-style: none;"><%= link_to "news", "http://news.railstutorial.org/" %></li>
	 </ul>
  </nav>
</footer>